@import url("fonts.css");
  
:root {
  --swiper-navigation-size: 24px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
#fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}
#myVideo {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

body.popup-open {
  overflow: hidden;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

#popup {
  display: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  justify-content: center;
  align-items: center;
  background: rgba(15, 15, 30, 0.7);
  transition: all 0.3s ease-in;
}
.popup-wrap {
  display: block;
  padding: 50px;
  background: #ffffff;
  max-width: 500px;
  margin: 8% auto;
  border-radius: 2%;
  position: relative;
}

#popup form {
  max-width: 400px;
  margin: 0 auto;
}
.popup-wrap .title {
  font-family: Gilroy, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  padding-bottom: 16px;
  color: rgb(21, 22, 47);
  max-width: 400px;
  margin: 0 auto;
  /* padding-bottom: 28px; */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
/*************HEADER***********/
.header {
  width: 100%;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(72, 72, 72, 0.1);
  position: fixed;
  z-index: 20;
  top: 0;
}

.header__container {
  max-width: 1000px;
  height: 80px;
  margin: 0 auto;
  padding: 0px 10px;
}
.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

.list__item {
  padding: 10px 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #2b2c4b;


}
.list__item a {
  color: #2b2c4b;
  transition: color 0.2s ease;
  
}

.list__item a:hover,
.menu-list a:hover,
.list__item a.active,
.footer__policy a
{
  color: #ef8723;
  text-decoration: underline;

}


.burger {
  display: none;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  border: 0;
  background-color: transparent;
}

.header__logo img {
  max-height: 60px;
}

@media screen and (max-width: 945px) {
  .list__item {
    padding: 5px 8px;
  }
}
@media screen and (max-width: 870px) {
  .list {
    display: block;
    height: 100%;
    margin: 0;
  }
}

/*************************MAIN******************/

.main-scrin-design {
  background-image: url("../images/main-design.jpg");
  width: 100vw;
  height: calc(100vh - 200px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.buttons__btn-video {
  color: #ef8723;
  text-decoration: underline;
  border: none;
  font-weight: 700;
  position: relative;
  font-size: 16px;
  display: flex;
  align-items: center; 
  gap: 8px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  padding: 6px 12px 6px 6px;
}
.buttons__btn-video img {
  width: 32px;
}

.buttons__btn-contact a {
  color: #ffffff;
  width: 100%;
  height: 100%;
}


.buttons__btn-contact,
.button {
  background-color: #ef8723;
  box-shadow: inset 0px -4px 4px #c66303, inset 0px 4px 3px #eeae71;
  border-radius: 45px;
  padding: 12px 34px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  font-size: 16px;
  line-height: 30px;
  font-family: "Gilroy";
  transition: background-color 0.3s ease;
  display: block;
  cursor: pointer;
}

.buttons__btn-contact:hover,
.button-form:hover,
#fixedbutton:hover {
  background-color:#F3963C;
  transform: scale(1.01);
}

.main__title, .main__title-service {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 76px;
  padding-top: 250px;
  width: 885px;
  color: rgb(255, 255, 255);
  position: relative;
  display: none;

}
.main__title-service {
display: block;

}
.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  line-height: 48px;
  color: rgb(21, 22, 47);
  max-width: 500px;
  padding-bottom: 28px;
}

/*********************SErvices******************/

.services-block {
  width: 100%;
  position: relative;
  margin: 100px 0px;
}
.services-block__title {
  padding-bottom: 80px;
  margin-left: auto;
}
.services-contant {
  min-height: 550px;
  height: 550px;
  position: relative;
  max-width: 650px;
}

.circle {
  background-image: url("../images/union.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 550px;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  overflow: hidden;
}

.service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #6669c8;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 1px -4px 2px #585bb8, inset -2px 3px 3px #7e80df;
}
.service__item-img {
  margin: 0 auto;
  width: 32px;
}

.service__item-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #212234;
  max-width: 240px;
  margin-left: 12px;
  text-align: left;
}
.service__item-wrap {
  position: absolute;
  right: -139px;
  top: -10px;
  display: flex;
  align-items: center;
  z-index: 17;
}

#science {
  top: 122px;
  right: -198px;
}

#scraping {
  top: 286px;
  right: -179px;
}

#personal {
  top: 434px;
  right: -199px;
  background: none;
  border: none;
}

.text-for-personal {
  padding: 12px 18px;
  position: absolute;
  max-width: 325px;
  bottom: -80px;
  right: -168px;
  background: #EEF0F8;
  display: none;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 10px;
transition: all 0.3s ease;
font-size: 16px;
z-index: 30;

}

.text-for-personal.active {
  display: block;
}

#cat {
  position: absolute;
  bottom: 0px;
  height: 320px;
  z-index: 15;
  left: 100px;
}

.menu__body {
  display: none;
}

.service__item-wrap:hover .service__item,
.choices .is-open {
  transform: scale(1.05);
  background: #777bea;
  transition: 0.5s all ease-in-out;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 16px;
  font-size: 16px
}

/******************** PROJECTS ***********************/
.is-focused .choices__inner,
.is-open .choices-inner,
.choices__inner {
  position: relative;
  z-index: 30;
  border: 2px solid #d5d8fb;
  /* line */

  box-shadow: inset 0px 1px 1px rgba(143, 144, 182, 0.5);
  border-radius: 28px;
}

.choices {
  z-index: 10;
  display: none;
}
.choices[data-type="select-one"]::after {
  background-image: url("../images/select-img.svg");
  height: 32px;
  width: 32px;
  z-index: 32;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  border: none;
}
.choices[data-type*="select-one"].is-open::after {
  background-image: url("../images/select-img-up.svg");
  position: absolute;
  top: 18px;
  height: 32px;
  width: 32px;
  z-index: 32;
  background-repeat: no-repeat;
  border: none;
}
.choices__list--dropdown {
  background: #ffffff;
  border: 1px solid #ced1f4;
  border-radius: 28px;
  z-index: 10;
  position: absolute;
  border-radius: 28px;
  padding-top: 64px;
  border: 1px solid #ced1f4;
  top: 2px;
}

.choices__item--selectable {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* header/dark */

  color: #15162f;
}

.choices--project-category-item-choicechoices__item
  .choices__item--choice
  .choices__item--selectable-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000000;
}

.projects-block {
  position: relative;
}

.projects-block__tabs__container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.projects-block__tabs {
  width: 100%;
}

.tab-btn {
  background: none;
  position: relative;
  padding: 0 36px;
  border: 0;
  width: 100%;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  padding: 18px 0px 9px;
  color: #000000;
  cursor: pointer;
}

.tab-btn.active {
  position: relative;
  width: 100%;
  background: none;
}
.line {
  position: absolute;
  background: #6669c8;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 1px -4px 2px #585bb8, inset -2px 3px 3px #7e80df;
  border-radius: 2px;
  width: 33.2%;
  height: 5px;
  top: 50px;
  left: 0;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}
.line-bg {
  background-image: url("../images/line.png");
  position: absolute;
  width: 100%;
  height: 4px;
  top: 127px;
  z-index: 10;
}
.project {
  width: 80%;
  background: #eef0f8;
  border-radius: 24px;
}

.project {
  width: 100%;
  background: #eef0f8;
  border-radius: 24px;
}

.project-content__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  padding: 25px 0 12px;
  color: #000000;
}

.text {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.project-content__image span {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2a3047;
  position: relative;
  bottom: 0;
  display: block;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-content__image {
  max-width: 500px;
  max-height: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.project-content__image-img {
  display: flex;
  flex-direction: column;
}
.project-content__image img {
  width: 100%;
  max-width: 460px;
}

.project-text {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
  max-width: 850px;
  margin: 16px auto 32px;
}
.project-text a, .text-for-personal button, .structure__content-box__text a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ef8723;
  border:none;
  background: none;
} 
.content-box {
  margin-top: 24px;
  display: none;
}

.content-box.active {
  margin-top: 24px;
  display: block;
}

@media screen and (max-width: 620px) {
  .tab-btn {
    background: none;
    position: relative;
    padding: 0 16px;
    border: 0;
    width: 100%;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 0px 9px;
    color: #000000;
    
  }
  .project-wrapper {
    flex-wrap: wrap;
    gap: 15px;
  }
}

/******************** ABOUT ***********************/
.about-block {
  margin-top: 100px;
  margin-bottom: 80px;
  overflow: hidden;
  min-height: 1000px;
}
.about-circle {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  background-image: url("../images/union_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
  position: absolute;
  right: -100px;
}

.about-content__wrap {
  max-width: 640px;
  height: auto;
  position: absolute;
  right: 30px;
}
.about-container {
  position: relative;
}

.statistic {
  background: #f2f3fb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  max-width: 200px;
  padding: 12px 28px;
  position: absolute;
}

.statistic__number {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #15162f;
}

.statistic__description {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #15162f;
}
#projects {
  top: 270px;
  right: 846px;
  z-index: 12;
}

#persent {
  top: 470px;
  right: 888px;
  width: 203px;
  z-index: 12;
}

#rating {
  top: 670px;
  right: 827px;
  z-index: 12;
}

.about-content__text {
  max-width: 530px;
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2b2c4b;

}

#more {
  display: none;
  transition: all 0.3s ease-out;
}


#myBtn {
  display: inline-block;
  max-width: 99px;
  border: none;
  border-bottom: 2px solid #ef8723;
  color: #ef8723;
  background: none;
  font-weight: 700;
  padding: 8px 2px 2px;
  cursor: pointer;
}
.about-content__title {
  padding-bottom: 48px;
  padding-top: 130px;
}


/******************** TEAM ***********************/

.about-service {
  margin: 100px 0 0;
}
.team__title, .about-service__title {
  padding-bottom: 48px;
}
.card {
  padding: 24px 12px;
  background: #eeeff8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: none;
  max-width: 410px;
  margin-bottom: 32px;
  margin-right: 12px;
  
}
.card-content__image {
  display: flex;
  flex-direction: column;
}

.card-content__image img {
  width: 100%;
}
.swiper {
  padding: 0px 25px 40px;
  display: flex;
}

.team__contant {
  display: flex;
  justify-content: space-between;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  max-width: 70px;
  width: 100%;
  height: 4px;
  border-radius: 0;
  background: #f0f1ff;
  margin: 0px 4px;
  font-family: "Gilroy";
  font-size: 15px;
  line-height: 28px;
  box-shadow: inset 0px 1px 1px rgba(143, 144, 182, 0.5);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background: #454893;
}
.swiper-button-prev::after {
  content: "";
  background-image: url("../images/arrow_left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10%;
  width: 20px;
  height: 20px;
}
.swiper-button-next::after {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 20px;
  height: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 32px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 2px 11px rgba(126, 126, 126, 0.25);
  border-radius: 24px;
  color: #585bb8;
}

.swiper-buttons {
  width: 100%;
  display: flex;
}

.card-content__name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #2b2c4b;
  margin-top: 18px;
  text-align: center;
}
.card-content__profession {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: inline;
width: 100%;
text-align: center;
}
/******************** FORM ***********************/
.form__block {
  background: #eeeff8;
  padding: 48px 0px;
  margin: 100px 0px;
}
.form__block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.form__image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: row;
}

.form__block__title {
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 48%;
}

label {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
}

.input {
  padding: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 2px solid rgb(99, 103, 199);
  background: none;
  max-width: 400px;
  font-size: 16px;
}

.button-form,
.button-form-pop {
  margin-top: 32px;
  max-width: 220px;
}

#cat-form {
  max-width: 240px;
}

.error {
  color: #a52018;
  font-size: 15px;
  font-weight: 100;
}

/******************** FOOTER ***********************/

.footer-contant {
  padding-top: 42px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h5 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #535353;
  margin-bottom: 12px;
  padding-top: 30px;
}
/* .footer__menu-list, .footer__munu-list, .footer__sosial-list{
    padding: 12px 0px;
} */

.footer__logo img {
  height: 60px;
}

.menu-list__link img {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.menu-list__link:hover img {
  fill: #ef8723;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.menu-list__link {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2b2c3b;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
}

footer {
  width: 100%;
  height: 2px;
  background: #eeeff8;
}
.footer__policy {
 text-align: center;
padding: 32px 0 58px;
color: #A3A3A3 ;

}

.footer__policy a {
  color: #A3A3A3;
  text-decoration: underline;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 300;
}

.button-form.error {
  background-color: red;
  color: white;
  border-color: red;
}

.phone.error-input,
.name.error-input {
  border-bottom: 2px solid rgb(176, 9, 9);
}

.button-form.disabled {
  background: #cdcbcb;
  box-shadow: inset 0px -4px 4px #868686, inset 0px 4px 3px #dbdbdb;
}

.content-box {
  display: none;
}

.content-box.active {
  display: block;
}

.project-category {
  display: none;
}

.non-gap {
  gap: 0;
}




.design-services {
  width: 100%;
  overflow: hidden;
  
}

.design-services__img {
  background-image: url("../images/services-design.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom 198px right -274px;
  height: 700px;
  width:100%;
  padding-bottom: 100px;
}


.design-services-item__title-block {
  background: #454893;
  border-radius: 20px 20px 0px 0px;
}

.design-services-item__title-title {
  padding: 16px 0px;
  text-align: center;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.design-services-item__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2b2b2b;
  padding: 8px 16px;
}
.design-services-item__statistics {
  display: flex;
  gap: 14px;
  padding:0px 16px 20px;
  align-items: center;
}

.statistics__number {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #15162F;
}

.statistics__description {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
max-width: 100%;
}
.design-services-item {
  max-width: 300px;
  background: #eef0f8;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  z-index: 5;
  position: absolute;
}
.design-services__items{
  position: relative;
}

#design-services-redesign {
  top: -67px;
  left: 0px;
}

#design-service-develop {
  position: absolute;
  top: 121px;
  right: 350px;
}

#design-service-functional {
  position: absolute;
  top: 183px;
  right: 0;
}

.design-services-block__title, .structure__content__title {
  padding-top: 100px;
  margin-left: auto;
}



.about-service-wrapper{
  display: flex;
  margin: 100px 0px 0px;
  justify-content: space-between;
  flex-wrap: wrap;

  
}


.about-service__image-block {
  max-width: 300px;
  width: 100%;
  display: flex;
  position: relative;
  height: 350px;

}
.about-service__image-block__cat{
  max-width: 240px;
  max-height: 320px;
  position: absolute;
  bottom: 5px;
  right: -10px;
}

.about-service__image-block__laptop {
  position: absolute;
  z-index: 2;
  right: 50px;
  bottom: 0;
  max-width: 270px;

}
.about-service__text {
  max-width: 550px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
padding: 0px 20px 0px 0px;
}

/************************************************/
.structure__buttons-container {
min-height: 330px;
display: flex;
flex-direction: column;
justify-content: space-between;
background-image: url("../images/stucture-line.svg");
background-repeat: no-repeat;
background-position: 30px 0px;
max-width: 300px;
}

.structure__btn, .structure__btn-mobile{
  background: #6669C8;
  width: 60px;
  height: 60px;
  color: #fff;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
border: none;
border-radius: 50px;
position: relative;
z-index: 4;
box-shadow: inset -2px -2px 2px #585BB8, inset 2px 2px 2px #7E80DF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
cursor: pointer;
}

.structure__content-box, .structure__content-box-wrapper, .structure__content-box-mobile {
background: #EEEFF8;
border-radius: 20px;
min-height: 250px;
max-width: 650px;
width: 100%;
padding: 25px;
position: relative;
}

.structure__content-wrap {
  display: flex;
  justify-content: space-between;

}
.structure__title {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
width: 200px;

display: block;
padding-left: 20px;

}
.structure__buttons-wrapper {
  display: flex;
  align-items: center;

}

.structure__content-box__title {
  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #15162F;
padding: 0 0 25px;

}

.structure__content-box__text {
  font-family: 'Gilroy';
font-weight: 300;
font-size: 16px;
line-height: 22px;
}

.structure__content-box, .structure__content-box-mobile {
  display: none;
}

.structure__content-box.active, .structure__content-box-mobile.active {
  display: block;
}

.structure__content-box-arrows {
  display: flex;
  justify-content: space-between;
  width: 105%;
  position: absolute;
  right: -16px;
  top: calc(50% - 16px);
}
.structure__content-box-arrows img{
width: 20px;
height: 20px;
}
.arrow-left, .arrow-right {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 11px rgba(126, 126, 126, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

 
.structure__btn.active::after, .structure__btn-mobile.active::after{
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(63.89% 63.89% at 50% 50%, rgba(102, 105, 200, 0) 0%, rgba(102, 105, 200, 0) 23.44%, rgba(102, 105, 200, 0.69) 37.5%, rgba(149, 151, 224, 0.17) 80.21%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  display: block;
  position: absolute;
  top: -17%;
  right: -10px;
  z-index: 2;
}


.structure__mobile {
  background-image: url("../images/line-mobile_str.svg");
  background-repeat: no-repeat;
  background-position:50%;
}
.structure__content-wrap-mobile {
  max-width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in;
}
.structure__content-box-mobile{
  margin: 24px 0px;
}

.structure__content-wrap-mobile .structure__buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.structure__content-wrap-mobile  .structure__title {
  text-align: center;
  padding: 12px;
}

.structure__content-box-mobile {
  width: 70%;
}

#myVideo.close {
  display: none;
}

#myVideo.open {
  display: block;
}

/****************DATA********************/

.data__container {
  max-width: 800px;
  margin: 50px auto;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 0 10px;
}
.data__container span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  line-height: 22px;
}

.data__list-item {
  list-style: disc;
  margin-left: 20px;
  padding: 5px;
}



@media screen and (max-width: 925px) {

  .container,
  .header__container {
    max-width: 780px;
  }
  .container {
    max-width: 780px;
  }
  .main-scrin-design{
    background-image: url("../images/main-bg-mobile.jpg");
    background-size: cover;
    height: 100vh;
 
  }
  .main__title {
    padding-top: 350px;
    max-width: 650px;
    
  }

  .title {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    color: #15162f;
    max-width: 320px;
}
.projects-block__title {
  padding-top: 100px;
}
  #cat {
    position: absolute;
    bottom: 0px;
    left: 40px;
    height: 380px;
    left: 0px;
    z-index: 15;
    overflow: hidden;
  }
  .circle {
    background-image: url("../images/union.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 650px;
    height: 650px;
    width: 650px;
    position: absolute;
    top: 0px;
    right: 91px;
    z-index: 10;
    overflow: hidden;
  }
  .service__item-wrap {
    position: absolute;
    right: -25px;
    top: 0px;
  }
  #science {
    top: 130px;
    right: -79px;
  }
  #personal {
    top: 463px;
    right: -146px;
  }
  .text-for-personal {
    bottom: -119px;
    right: -115px;
  }

  #scraping {
    top: 301px;
    right: -86px;
  }
  .burger {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    border: 0;
    background-color: transparent;
  }
  .line {
    top: 57px;
  }

  .burger span {
    top: calc(50% - 1px);
  }

  .burger::before,
  .burger::after,
  .burger span {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #181818;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .menu-body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    padding: 100px 15px 30px;
    left: -100%;
    transition: left 0.3s ease;
    display: flex;
    justify-content: center;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list__item {
    font-size: 28px;
    padding: 16px 0px;
    display: block;
  }

  .header__logo {
    position: relative;
    z-index: 5;
  }

  .burger-open .menu-body {
    left: 0;
    background-color: #ffffff;
    width: 100%;
  }
  .burger-open .burger span {
    display: none;
  }
  .burger-open .burger::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .burger-open .burger::after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  .line-bg {
    background-image: url("../images/line.png");
    position: absolute;
    width: 100%;
    height: 4px;
    top: 146px;
    z-index: 10;
  }

  .tab-btn {
    font-size: 15px;
  }

  .about-circle {
    max-width: 700px;
    right: -278px;
  }

  #projects {
    top: 187px;
    right: 601px;
    z-index: 12;
  }
  #rating {
    top: 670px;
    right: 563px;
    z-index: 12;
  }

  #persent {
    top: 392px;
    right: 624px;
    width: 219px;
    z-index: 12;
  }
  #rating {
    top: 571px;
    right: 464px;
    z-index: 12;
  }
  .project-text {
    padding: 0 15px;
  }
  .statistic {
    max-width: 165px;
    padding: 11px 12px;
    position: absolute;
  }
  .about-content__title {
    padding-bottom: 80px;
    padding-top: 731px;
  }
  .about-content__wrap {
    max-width: 100%;
    height: auto;
    position: relative;
    padding: 0px 30px;


}
}
@media screen and (max-width: 820px) {
  .services-contant {
    max-width: 650px;
  }
  .circle {
    right: 206px;
  }
  .services-block__title {
    margin-left: 20%;
  }
  .service__item-wrap {
    right: 80px;
  }
  #science {
    top: 130px;
    right: 33px;
  }

  #scraping {
    top: 301px;
    right: 21px;
  }

  #personal {
    top: 463px;
    right: -27px;
  }

  .text-for-personal {
    bottom: -119px;
    right: -5px;
}

  .container-about {
    margin: 0 auto;
  }
  .design-services__img {
    background-image:none;
}
.tab-btn {
  line-height: 20px;
  padding: 18px 0px 18px;

}

}
@media screen and (max-width: 740px) {

  .choices {
    z-index: 10;
    display: block;
  }

  .projects-block__tabs__container {
    display: none;
  }

  .line-bg {
    display: none;
  }

  .about-circle {
    max-width: 625px;
    right: -278px;
  }
  #projects {
    top: 187px;
    right: 551px;
    z-index: 12;
  }
  #persent {
    top: 392px;
    right: 526px;
    width: 219px;
    z-index: 12;
  }
  #rating {
    top: 558px;
    right: 352px;
    z-index: 12;
  }
  .about-content__title {
    padding-bottom: 80px;
    padding-top: 645px;
  }
}
@media screen and (max-width: 710px) {
  .circle {
    right: 327px;
  }
  #cat {
    height: 315px;
    right: -10px;
  }
  .services-block__title {
    margin-left: 20%;
  }
  .service__item-wrap {
    right: 209px;
  }
  #science {
    top: 130px;
    right: 150px;
  }

  #scraping {
    top: 301px;
    right: 144px;
  }

  #personal {
    top: 478px;
    right: 115px;
  }

  .text-for-personal {
    bottom: -119px;
    right: 134px;
}

  .form__image {
    display: none;
  }

  .form__block-wrapper {
    justify-content: center;
  }
  .form {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-about {
    margin: 0px 0 0 15px;
  }

  .input {
    max-width: 100%;
  }
  .main__title, .main__title-service {
    font-size: 58px;
  
}
.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 46px;
}
  .services-block__title {
    margin-left: 10%;
  }

  .tab-btn {
    background: none;
    position: relative;
    padding: 0 24px;
    border: 0;
    width: 100%;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 0px 9px;
    color: #000000;
  }
  .main__title {
    padding-top: 350px;
    max-width: 580px;
    
  }
}
@media screen and (max-width: 620px) {
  .main-scrin-design{
    background-image: url("../images/main-bg-mobile_small.jpg");
    background-size: cover;
    height: 100vh;
 
  }
  #cat {
    height: 288px;
    left: -34px;
    top: 156px;
    position: absolute;
  }

  .about-circle {
    max-width: 540px;
    right: -278px;
  }
  #projects {
    top: 93px;
    right: 433px;
    z-index: 12;
  }
  #persent {
    top: 274px;
    right: 469px;
    width: 219px;
    z-index: 12;
  }
  #rating {
    top: 448px;
    right: 327px;
    z-index: 12;
  }
  .about-content__title {
    padding-bottom: 80px;
    padding-top: 500px;
  }
  .footer__policy {
    text-align: center;
    padding: 32px 0 90px;
    color: #A3A3A3;
  }
  .footer-contant {
    padding-top: 29px;
  }  

  .main__title {
    padding-top: 350px;
    max-width: 460px;
}
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 580px;
  }
  .main__title {
    padding-top: 200px;
    display: block;
}
  .footer-contant {
    display: flex;
    flex-direction: column;
  }
  video {
    display: none;
  }
  .main-scrin {
    background-image: url("../images/main-bg-mobile_small.jpg");
    width: 100%;
    height: 100vh;
  }
  .buttons__btn-video__wrapper {
    position: absolute;
    z-index: 3;
    bottom: -130px;
    left: 0px;
    width: 350px;
}

  .buttons__btn-video {
    padding: 6px 40px 6px 6px;
  }
  .buttons__btn-video img {
    width: 48px;
}

}

@media screen and (max-width: 565px) {
  .container {
    max-width: 550px;
  }
.title {
  font-size: 40px;
  line-height: 48px;
  max-width: 380px;
}

  .circle {
    right: 260px;
  }
  .service__item-wrap {
    right: 131px;
  }
  #science {
    top: 130px;
    right: 82px;
  }

  #scraping {
    top: 301px;
    right: 75px;
  }
  #personal {
    top: 478px;
    right: 42px;
  }
  .projects-block__title {
    padding-top: 100px;
  }
  .footer__policy {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
  
}
@media screen and (max-width: 540px) {
  .statistic__number {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #15162f;
  }
  #projects {
    top: 61px;
    right: 433px;
    z-index: 12;
  }
  #persent {
    top: 224px;
    right: 469px;
    width: 219px;
    z-index: 12;
  }
  #rating {
    top: 384px;
    right: 374px;
    z-index: 12;
  }
  .about-circle {
    width: 540px;
    right: -192px;
  }
  .about-content__title {
    padding-bottom: 25px;
    padding-top: 550px;
  }
  .text-for-personal {
    bottom: -119px;
    right: 62px;
}
.list__item {
  text-align: center;
}

}

@media screen and (max-width: 495px) {
  .main__title {
    padding-top: 219px;
    max-width: 320px;
}
  #rating {
    top: 384px;
    /* right: 320px; */
    z-index: 12;
  }
  #persent {
    top: 224px;
    /* right: 395px; */
    width: 219px;
    z-index: 12;
  }
  #projects {
    top: 61px;
    /* right: 377px; */
    z-index: 12;
  }
  .about-content__title {
    padding-bottom: 25px;
    padding-top: 540px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  max-width: 50px;
  width: 100%;
}
}


@media screen and (max-width: 420px) {
  .container {
    max-width: 420px;
  }
  .circle {
    right: 200px;
  }
  .service__item-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #212234;
    max-width: 180px;
    margin-left: 12px;
    text-align: left;
  }

  .service__item-wrap {
    right: 62px;
    top: 37px;
  }
  #science {
    top: 177px;
    right: 3px;
  }
  #scraping {
    top: 327px;
    right: 18px;
  }
  #cat {
    height: 206px;
    left: -34px;
    top: 181px;
    position: absolute;
  }
  .main__title {
    font-size: 46px;
    line-height: 48px;
}
.buttons__btn-video {
  padding: 4px 30px 4px 4px;
}
.buttons__btn-video img {
  width: 38px;
}
  .main__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .buttons__btn-video {
    margin-left: 0px;
  }
  .list__item {
    font-size: 24px;
    padding: 12px 0px;
}
  .popup-wrap {
    display: block;
    padding: 30px;
    background: #ffffff;
    max-width: 400px;
    margin: 8% auto;
    border-radius: 2%;
    position: relative;
  }
  .about-circle {
    width: 540px;
    right: -241px;
  }
  .main__buttons {
    flex-direction: column;
    gap: 32px;
  }
  .structure__content-box-mobile {
    width: 100%;
}

}
@media screen and (max-width: 400px) {
  .about-circle {
    width: 540px;
    right: -308px;
  }
  .popup-wrap {
    display: block;
    padding: 20px;
    background: #ffffff;
    max-width: 370px;
    margin: 8% auto;
    border-radius: 2%;
    position: relative;
  }

  .popup-wrap .title {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    padding-bottom: 16px;
    color: rgb(21, 22, 47);
    max-width: 400px;
    margin: 22px auto 0;
    /* padding-bottom: 28px; */
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    max-width: 42px;
    width: 100%;
}
  
}
@media screen and (max-width: 360px) {
  .main__title {
    padding-top: 200px;
    max-width: 300px;
}
  .service__item-title {
    font-size: 18px;
    line-height: 24px;
  }
  .service__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
  }

  #cat {
    height: 196px;
    left: -34px;
    top: 181px;
    position: absolute;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    max-width: 42px;
    width: 100%;
}
}

@media screen and (max-width: 330px) {
  .about-circle {
    width: 540px;
    right: -344px;
  }
}

@media screen and (max-width: 780px) {
  .structure__content-wrap-mobile{
    display: flex;
    justify-content: space-between;
  }

  .structure__content-wrap {
    display: none;
  }
  }

  @media screen and (max-width: 980px) {
    .design-services-item {
      max-width: 90%;
      position: static;
    }
    #design-service-functional, #design-service-develop,#design-services-redesign {
      position: static;
      max-width: 80%;
      width: 100%;
  
    }
    .design-services__items{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
      align-items: center
    }
    .design-services {
      height: auto;
    }
    .design-services__img {
      height: auto;
    }
    .design-services-block__title {
      padding-top: 100px;
      padding-bottom: 60px;
      margin: 0 auto;
  }
  .about-service-wrapper {
    justify-content: space-around;
  }
    }
    @media screen and (min-width: 1530px) {
      .design-services__img {
        background-position: bottom 144px right -252px;
    }
    }

    @media screen and (min-width: 1700px) {
      .design-services__img{ 
        background-position: bottom 176px right -94px;
    }
    }

    @media screen and (min-width: 2000px) {
      .design-services__img {
        background-position: bottom 154px right -16px;
    }
    }

    @media screen and (min-width: 2200px){
.design-services__img {
    background-position: bottom 139px right 66px;
}}

@media screen and (min-width: 2250px) {
.design-services__img {
    background-position: bottom 119px right 169px;
}}