<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg">
    <link rel="stylesheet" href="../css/style.css" />
    <title>Templates</title>
</head>
<body>
    <section>
        <div class="templates">
            <div class="container templates__container">
                <h1 class="templates__title title">Start-Up Packet</h1>
                <div class="templates__content first__block">
                    <h4>1. Zusammen mit dir wir</h4>
                    <ul class="templates__content__list">
                        <li class="templates__content__list-item">bestimmen Webseitestruktur (bis zu 7 Blöcken: Über Produkt,  Mitarbeiter, Kundenrezensionen...)</li>
                        <li class="templates__content__list-item">wählen den passenden Stil und das schöne Design aus</li>
                        <li class="templates__content__list-item">legen geeignete Farben und Schriftarten fest</li>
                    </ul>
                </div>
                <img src="../images/OBJECTS.svg" alt="">
                <div class="templates__content second__block">
                    <h4>2. Design und Entwicklung</h4>
                </div>
                <img src="../images/OBJECTS.svg" alt="">
                <div class="templates__content third__block">
                    <h4>3. Zeitnah und preiswertig bekommst du</h4>
                    <ul class="templates__content__list">
                        <li class="templates__content__list-item">benuterfreundliche und einzigartige Webseite</li>
                        <li class="templates__content__list-item">animierten Header, der die Kundenaufmerksamkeit weckt</li>
                        <li class="templates__content__list-item">integriertes Kontaktformular</li>
                    </ul>
                </div>
                <img src="../images/OBJECTS.svg" alt="">
                <div class="templates__content content-images">
                    <h4>4. Zeitnah und preiswertig bekommst du</h4>
              <div class="content-image__box">     
                <img src="../images/Services.jpg" alt="">
                 <img src="../images/Company.jpg" alt="">
                <img src="../images/Product.jpg" alt="">
            </div>
                </div>
                <img src="../images/OBJECTS.svg" alt="">
                <div class="templates__content">
                    <h4>5. Zusätzlich möglich</h4>
                    <ul class="templates__content__list">
                        <li class="templates__content__list-item">animiertes Symbol deines Unternehmens</li>
                        <li class="templates__content__list-item">Promovideo für dein Produkt oder Unternehmen</li>
                        <li class="templates__content__list-item">Werbung und SEO-Optimierung</li>
                    </ul>
            </div>
            <button class="button templates-button" onclick="showPopup()">Los geht's</button>
        </div>

        <div id="popup" display = "none">
            <div class="popup-wrap">
                <button id="close-button"><img src="../images/pop-close.svg" alt="close"></button>
                <h2 class="form__block__title title" id="contact">Lass uns zusammen arbeiten</h2>
                <form class="form" action="mailer.php" method="POST" onsubmit="return validateForm(event)">
                    <label for="name">Vollständiger Name*</label>
                    <input class="input" type="text" id="name" name="name" placeholder="Name">
                    <div class="error name-error" id="name-error"></div>
                    <label for="phone">Nummer*</label>
                    <input class="input" id="phone" type="tel" name="phone" placeholder="+49 179 5959 595">
                    <div class="error phone-error" id="phone-error"></div>
                    <label for="email">E-Mail*</label>
                    <input class="input" id="email" type="email" name="email" placeholder="example@mail.de">
                    <div class="error email-error" id="email-error"></div>
                    <label for="comment">Kommentar</label>
                    <input class="input ignore" type="text" id="comment" name="comment" placeholder="Ihr Kommentar...">
                    <button class="button-form button form-submit-btn" type="submit" id="submit-btn">Schicken</button>
                  </form>  
          </div>
        </div>
    </section>
    <script src="../code/script.js"></script>
</body>
</html>